.btn {
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary {
        /* color: rgb(255, 181, 30); */

    background-color: hsl(41, 76%, 50%);
    color: white;
}

.btn--primary:hover {
    background-color: hsl(47, 89%, 56%);
}

.btn--danger {
    background-color: hsl(0, 62%, 45%);
    color: white;
}

.btn--danger:hover {
    background-color: hsl(0, 100%, 65%);
}